In [1]:
import pandas as pd

# Load your dataset
df = pd.read_csv("cleaned_flight_data.csv", encoding="ISO-8859-1", low_memory=False)

# Preview the data to understand its structure
print(df.head())

# Check if the flight numbers are reused
flight_counts = df['Flight_Number_Reporting_Airline'].value_counts()
print("Flight number counts:\n", flight_counts)

# Identify the flight numbers that are reused (appear more than once)
reused_flights = flight_counts[flight_counts > 1]
print("\nReused flight numbers:\n", reused_flights)

# Group by flight number and inspect the routes and dates
flight_group = df.groupby('Flight_Number_Reporting_Airline').agg({
    'Origin': 'first',  # Assuming 'Origin' column exists
    'Dest': 'first',    # Assuming 'Dest' column exists
    'FlightDate': lambda x: x.unique()  # Get all unique dates for the flight number
})

# Display the first few reused flight numbers and their details
print("\nFlight numbers with reused occurrences and their routes and dates:\n", flight_group.loc[reused_flights.index])

# Optional: You can also check if flights are codeshared by inspecting other columns like 'Reporting_Airline' or 'Tail_Number'
codeshare_flights = df.groupby('Flight_Number_Reporting_Airline').agg({
    'Reporting_Airline': lambda x: x.unique(),  # Unique reporting airlines for the same flight number
    'Tail_Number': lambda x: x.unique()  # Unique aircraft tail numbers
})
print("\nCodeshare flight details:\n", codeshare_flights)

   Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate Reporting_Airline  \
0  1998        1      1           2          5  1998-01-02                NW
1  2009        2      5          28          4  2009-05-28                FL
2  2013        2      6          29          6  2013-06-29                MQ
3  2010        3      8          31          2  2010-08-31                DL
4  2006        1      1          15          7  2006-01-15                US

   DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline Tail_Number  ...  \
0                     19386                          NW      N297US  ...
1                     20437                          FL      N946AT  ...
2                     20398                          MQ      N665MQ  ...
3                     19790                          DL      N6705Y  ...
4                     20355                          US      N504AU  ...

   Div1WheelsOff  Div1TailNum  Div2Airport  Div2AirportID Div2AirportSeqID  \
0            NaN          NaN          NaN            NaN              NaN
1            NaN          NaN          NaN            NaN              NaN
2            NaN          NaN          NaN            NaN              NaN
3            NaN          NaN          NaN            NaN              NaN
4            NaN          NaN          NaN            NaN              NaN

  Div2WheelsOn Div2TotalGTime  Div2LongestGTime Div2WheelsOff  Div2TailNum
0          NaN            NaN               NaN           NaN          NaN
1          NaN            NaN               NaN           NaN          NaN
2          NaN            NaN               NaN           NaN          NaN
3          NaN            NaN               NaN           NaN          NaN
4          NaN            NaN               NaN           NaN          NaN

[5 rows x 85 columns]
Flight number counts:
 Flight_Number_Reporting_Airline
440     1347
500     1345
65      1333
505     1314
469     1307
        ...
7559       1
7842       1
7907       1
7917       1
7645       1
Name: count, Length: 8050, dtype: int64

Reused flight numbers:
 Flight_Number_Reporting_Airline
440     1347
500     1345
65      1333
505     1314
469     1307
        ...
7593       2
7574       2
7932       2
7840       2
7888       2
Name: count, Length: 8005, dtype: int64

Flight numbers with reused occurrences and their routes and dates:
                                 Origin Dest  \
Flight_Number_Reporting_Airline
440                                SLC  IAH
500                                STL  BWI
65                                 JFK  MIA
505                                RDU  STL
469                                ORD  BNA
...                                ...  ...
7593                               AZO  ORD
7574                               ORD  SYR
7932                               CLE  IAD
7840                               IAD  ALB
7888                               IAD  MDT

                                                                        FlightDate
Flight_Number_Reporting_Airline
440                              [2009-10-31, 1998-10-25, 2004-11-21, 2001-07-1...
500                              [2001-05-03, 1988-12-03, 1995-08-16, 2007-12-0...
65                               [2017-07-08, 1993-10-06, 2008-06-16, 2015-08-3...
505                              [1991-03-25, 2018-06-20, 2017-01-03, 1995-06-2...
469                              [2000-06-06, 1988-09-26, 1990-07-06, 2002-10-1...
...                                                                            ...
7593                                                      [2003-06-11, 2004-04-04]
7574                                                      [2004-03-24, 2003-06-05]
7932                                                      [2003-02-05, 2003-01-23]
7840                                                      [2003-04-25, 2004-02-26]
7888                                                      [2004-03-31, 2004-02-02]

[8005 rows x 3 columns]

Codeshare flight details:
                                                                  Reporting_Airline  \
Flight_Number_Reporting_Airline
1                                [HP, TW, WN, B6, UA, US, AA, AS, CO, HA, DL, V...
2                                [AS, US, HP, UA, CO, WN, AA, B6, HA, XE, TW, V...
3                                [UA, DL, WN, CO, HP, AS, AA, US, HA, PI, FL, B...
4                                [AS, WN, HA, US, TW, HP, AA, NW, B6, DL, CO, F...
5                                [US, TW, UA, AA, WN, B6, AS, PI, HP, FL, CO, E...
...                                                                            ...
9581                                                                          [OO]
9582                                                                          [OO]
9583                                                                          [OO]
9584                                                                          [OO]
9794                                                                          [OO]

                                                                       Tail_Number
Flight_Number_Reporting_Airline
1                                [N904AW, nan, N607JB, N635TW, N56859, N632TW, ...
2                                [N536AS, N647AW, N805AW, N618UA, nan, N632AW, ...
3                                [nan, N723TW, N791SW, N76062, N67052, N560AS, ...
4                                [N564AS, nan, N594HA, N9402W, N605AU, N902TW, ...
5                                [N644AW, N631AW, UNKNOW, N661UA, nan, N352AA, ...
...                                                                            ...
9581                                      [N585SW, N586SW, N576SW, N582SW, N16731]
9582                                                      [N58733, N567SW, N581SW]
9583                                      [N568SW, N15732, N58733, N583SW, N584SW]
9584                                      [N16731, N15732, N565SW, N580SW, N576SW]
9794                                                                      [N699BR]

[8050 rows x 2 columns]

In [2]:
# Create binary target variable 'DelayCategory': 1 if there was an arrival delay (ArrDelay > 0), 0 if there wasn't
df['DelayCategory'] = df.apply(lambda row: 1 if row['ArrDelay'] > 0 else 0, axis=1)

# Group by Flight Number and sum the DelayCategory to count delays
delays_by_flight = df.groupby('Flight_Number_Reporting_Airline')['DelayCategory'].sum().reset_index()

# Sort by the number of delays in descending order
delays_by_flight_sorted = delays_by_flight.sort_values(by='DelayCategory', ascending=False)

# Show the flight numbers with the most delays
print(delays_by_flight_sorted.head())  # You can adjust the number of rows to display as needed

     Flight_Number_Reporting_Airline  DelayCategory
504                              505            634
418                              419            621
439                              440            609
64                                65            605
507                              508            603